<div style="width: 1000px; padding-left: 20px">

<!--for(MenuDivision division: menu.menuDivisions){
    sout(division.divisionName);
    for (MenuItem item: division.menuItems){
      sout(item.dishName);
      ...
      }
  }-->
  <div (click)="onCartClick()">
  <button mat-raised-button>
    GO TO CART
  </button>
  </div>

  <p></p>

  <ng-container *ngFor="let division of menu.menuDivisions">
    <h2>
      {{division.divisionName}}
    </h2>

    <ng-container *ngFor="let item of division.menuItems">

      <img [src]="item.dishPicUrl" width="100px">

      <h4>
        {{item.dishName}} - ${{item.dishPrice}}
      </h4>

      <h5>
        {{item.dishDescription}}
      </h5>

      <p>
        <button mat-raised-button>ADD TO CART</button>
      </p>


    </ng-container>


  </ng-container>


</div>
